# Dataframe creation using the Hsiao class

Example notebook showing how to obtain dataframes of generated data (flux and time sample) of supernova 1a by defining some parameters.

In [1]:
from hsiao import Hsiao
import numpy as np
import pandas as pd
import random as rand
from random import *

### Example of return datafram from Hsiao class for 1 system of 3 images.

In [2]:
#Hsiao(nb of images, redshift, amplitude, type of plot, magnifications, time delays, time origin, noise level)

# nb of images, time origin are integers
# redshift, amplitude, noise level are floats
# type of plot is a str (choice bewteen : "Flux", "Total_Flux_Without_Noise", "Noise", "Total_Flux_With_Noise")
# magnifications, time delays are arrays of size (nb of images)

H=Hsiao(3, 0.4, 1e-4, "Flux", np.array([1.2, 1.42, 1.52]), np.array([0, 10.34, 24.32]), 55000., 0.05)

The dataframe method from Hsiao class returns 2 different dataframes:  
- the first contains all the given information from the user, e.i all the above parameters
- the second is composed of generated data calculated into Hsiao class. 

To match the first dataframe with the second one, an ID is defined and written in the first column of each dataframe. It is created thanks to the number of images, the time origin, the redshift and the noise level to make sure there are no duplicates.

In [3]:
f1, f2 = H.dataframe()

In [4]:
f1

,ID,# images,time origin,time delays,magnifications,redshift,noise level
0,3-55000.0-0.4-0.05,3,55000.0,[ 0. 10.34 24.32],[1.2 1.42 1.52],0.4,0.05

In [5]:
f2

,ID,time sample band g,total flux + noise band g,time sample band r,total flux + noise band r,time sample band i,total flux + noise band i
0,3-55000.0-0.4-0.05,54944.48,23.989307,54943.48,-14.982904,54945.88,-53.246074
1,3-55000.0-0.4-0.05,54946.28,-15.749104,54946.28,-29.674730,54951.08,-8.375865
2,3-55000.0-0.4-0.05,54948.08,-45.771021,54948.08,-39.122216,54959.28,-29.026616
3,3-55000.0-0.4-0.05,54950.88,36.281226,54949.88,-22.077647,54964.48,62.316215
4,3-55000.0-0.4-0.05,54952.68,-29.979081,54951.68,11.779374,54969.68,121.572930
...,...,...,...,...,...,...,...
86,3-55000.0-0.4-0.05,55106.28,7.799114,55094.28,75.961579,NaN,NaN
87,3-55000.0-0.4-0.05,55108.08,4.850911,55095.08,35.185439,NaN,NaN
88,3-55000.0-0.4-0.05,55110.88,5.697625,55095.88,22.723447,NaN,NaN
89,3-55000.0-0.4-0.05,55112.68,-18.701982,55097.68,40.717511,NaN,NaN
90,3-55000.0-0.4-0.05,55113.48,-42.230698,NaN,NaN,NaN,NaN

### Example of dataframe with multiple systems.

First, the time delays need to be defined such as the first is null and the others are increasing.

In [6]:
def delays(n):
    DT = [0]
    for i in range(1, n):
        DT.append(DT[i-1] + uniform(5, 15))
    return [round(num, 4) for num in DT]

Secondly, to create dataframes containing 20 systems, the parameters are calculated randomly or followinf a unifrom distribution.  
Then, the produced dataframe are concatenate and we obtain 2 dataframes with one composed of all the parameters, and the second the generated data.

In [7]:
f1 = 0
f2 = 0
f1bis = 0
f2bis = 0

for i in range(20):
    nb_images = rand.randint(1, 4)
    redshift = np.around(uniform(1, 2.5), 4)      # do not put more than 2.5
    amplitude = np.around(uniform(1e-5, 1e-1),4)
    mu = [1 + np.around(rand.random(), 4) for i in range(nb_images)]
    time_delays = delays(nb_images)
    t0 = np.random.randint(55000, 60000)
    noise_level = np.around(uniform(0, 0.2), 4)
    H = Hsiao(nb_images, redshift, np.array(amplitude), "Flux", mu, np.array(time_delays), t0, noise_level)

    if i == 0:
        f1bis, f2bis = H.dataframe()
    else:
        f1, f2 = H.dataframe()
        f1 = pd.concat([f1bis, f1])
        f2 = pd.concat([f2bis, f2])
        f1bis = f1
        f2bis = f2

In [8]:
f1

,ID,# images,time origin,time delays,magnifications,redshift,noise level
0,4-56548-1.5914-0.0357,4,56548,[ 0. 9.8 21.64 36.62],"[1.1601, 1.2034, 1.2475, 1.8117]",1.5914,0.0357
0,2-55268-1.4834-0.0355,2,55268,[ 0. 13.37],"[1.2741, 1.982]",1.4834,0.0355
0,1-57841-1.4986-0.1333,1,57841,[0],[1.2572],1.4986,0.1333
0,1-59758-2.3007-0.1532,1,59758,[0],[1.7172],2.3007,0.1532
0,3-59758-1.5928-0.0118,3,59758,[ 0. 14.01 24.04],"[1.5276999999999998, 1.9260000000000002, 1.7893]",1.5928,0.0118
0,2-56548-1.7151-0.1365,2,56548,[0. 6.47],"[1.3994, 1.9205999999999999]",1.7151,0.1365
0,3-57841-1.7588-0.1941,3,57841,[ 0. 5.25 13.47],"[1.2925, 1.6185, 1.3853]",1.7588,0.1941
0,3-56548-2.3275-0.1607,3,56548,[ 0. 9.39 16.03],"[1.8763999999999998, 1.3838, 1.8045]",2.3275,0.1607
0,3-56548-2.3951-0.1177,3,56548,[ 0. 5.97 11.99],"[1.9129, 1.3952, 1.0281]",2.3951,0.1177
0,3-56548-1.5669-0.1529,3,56548,[ 0. 8.32 19.22],"[1.4536, 1.947, 1.6800000000000002]",1.5669,0.1529
0,3-56548-2.1706-0.1916,3,56548,[ 0. 14.61 23.37],"[1.0691, 1.1683, 1.3497]",2.1706,0.1916
0,3-56548-2.0818-0.199,3,56548,[ 0. 14.61 28.71],"[1.2588, 1.8362, 1.502]",2.0818,0.199
0,3-56548-2.3271-0.0856,3,56548,[ 0. 14.81 23.88],"[1.826, 1.1636, 1.0202]",2.3271,0.0856
0,2-56548-1.9404-0.026,2,56548,[0. 6.78],"[1.285, 1.7808000000000002]",1.9404,0.026
0,1-57841-2.0969-0.086,1,57841,[0],[1.42],2.0969,0.086
0,3-59758-1.519-0.1738,3,59758,[ 0. 12.91 24.61],"[1.1216, 1.9457, 1.6745]",1.519,0.1738
0,3-56548-2.0774-0.1735,3,56548,[ 0. 9.21 23.94],"[1.8768, 1.9904, 1.9639]",2.0774,0.1735
0,3-56548-1.0741-0.161,3,56548,[ 0. 10.3 25.28],"[1.7109, 1.952, 1.8641999999999999]",1.0741,0.161
0,3-56548-1.1197-0.1644,3,56548,[ 0. 9.5 18.26],"[1.9504000000000001, 1.7926, 1.6779]",1.1197,0.1644
0,2-56548-1.2718-0.068,2,56548,[ 0. 14.85],"[1.3855, 1.6038999999999999]",1.2718,0.068

In [9]:
f2

,ID,time sample band g,total flux + noise band g,time sample band r,total flux + noise band r,time sample band i,total flux + noise band i
0,4-56548-1.5914-0.0357,54929.1809,1.015120e-16,54929.1809,9.719519e-16,54931.5809,6.869691e-15
1,4-56548-1.5914-0.0357,54929.9809,3.182279e-16,54929.9809,1.368088e-15,54934.7809,6.410052e-15
2,4-56548-1.5914-0.0357,54931.7809,3.181322e-17,54930.7809,1.010911e-15,54936.9809,6.517409e-15
3,4-56548-1.5914-0.0357,54932.5809,1.055333e-16,54934.5809,1.259930e-15,54945.1809,6.775194e-15
4,4-56548-1.5914-0.0357,54935.3809,-1.708810e-16,54938.3809,1.238183e-15,54950.3809,6.314470e-15
...,...,...,...,...,...,...,...
86,2-56548-1.2718-0.068,55108.7517,2.006771e-16,55112.7517,6.851312e-15,NaN,NaN
87,2-56548-1.2718-0.068,55110.5517,7.382605e-16,55114.5517,6.157027e-15,NaN,NaN
88,2-56548-1.2718-0.068,55111.3517,8.736246e-16,55119.3517,6.517675e-15,NaN,NaN
89,2-56548-1.2718-0.068,55112.1517,8.994345e-16,55122.1517,6.720987e-15,NaN,NaN
90,2-56548-1.2718-0.068,55113.9517,2.602008e-16,NaN,NaN,NaN,NaN